<article class="card ">
  
  <div class="card-header ">
    <a href="/post/{{id}}" >
      <h2 >{{title}}</h2>
      <div class="posted-by" >
        Posted by {{user.username}} on {{format_date created_at}}
      </div>
    </a>        
  </div>
  <div class="card-body">
    <span>{{post_content}}</span>
  </div>  
  
</article>